/*
Palette
Grigio Nebbia,#f0f0f3
Grigio Caldo,#c9c1b9
Taupe (Talpa),#a89f97
Azzurro Polvere,#b0c0cf
Carbone/Roccia,#4a4441

Palette Contrastante
Arancio Segnaletico,#FF5F1F
Blu Elettrico,#007BFF
Verde Smeraldo,#00C753
Bianco Ottico,#FFFFFF
Nero Intenso,#111111

*/
:root{
    /* Palette Principale */
    --colore-grigio-nebbia: #f0f0f3;
    --colore-grigio-caldo: #c9c1b9;
    --colore-taupe: #a89f97;
    --colore-azzurro-polvere: #b0c0cf;
    --colore-carbone: #4a4441;
    /* Palette Contrastante */
    --colore-arancio-segnale: #FF5F1F;
    --colore-blu-elettrico: #007BFF;
    --colore-verde-smeraldo: #00C753;
    --colore-bianco-ottico: #FFFFFF;
    --colore-nero-intenso: #111111;
    /* Font */
    --font-principale: "Roboto", Helvetica, sans-serif;
    /* Altri valori utili */
    --radius-piccolo: clamp(5px, 0.5vw, 8px);
    --radius-grande: 2rem;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-principale);
    height: 100%;
    background-color: var(--colore-grigio-nebbia);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colore-grigio-nebbia);
    overflow: hidden;
    height: clamp(50px, 5vw, 70px); /*Ho chiesto al maestro e mi fa che usare clamp è più moderno*/
}

.navbar img{
    margin-left: auto;
    height: clamp(40px, 6vw, 70px); /*clamp funziona tipo clamp(grandezza minima, desiderata, massima)*/;
    object-fit: contain;
    align-items: center;
}

.navbar img:hover{
    cursor: pointer;
}

.navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 1vw;   
    text-decoration: none;
    position: relative;
    font-size: 1rem; /* Mi è stato detto di usare rem, perché si basa sulla grandezza del font del browser */
}

.navbar a::after {
    content: ''; 
    display: block;
    position: absolute;
    bottom: 0; 
    left: 0;
    height: 2px; 
    background-color: black; 
    width: 0; 
    transition: width 0.3s ease-out;
}

.navbar a:hover::after {
    width: 100%; 
}
.linkGroup{
    gap: 5vw;
    display: flex;
    margin: auto;
}

.btnGroup button{
    flex: 1;
    width: clamp(80px, 7vw, 120px);
    height: 2.5rem; /*Mi è stato inoltre detto che l'altezza di solito non viene settata con vw ma con rem */
    cursor: pointer;
    border-radius: clamp(5px, 0.5vw, 8px); /* Anche il radius può essere bloccato */
    padding: 0 1rem; 
    margin: 0.5vw;
    font-size: 0.9rem; 
}

.btnGroup button:hover{
    background-color: #cdcdcd;
}

.backgroundImg{
    height: 100vh;  
    width: 100%;    
    position: relative;
    background-image: url('resources/Sfondo.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    overflow: hidden;
}

.txt-on-top{
    position:absolute;
    width: 100%;  
    top: 45%;        
    left: 50%;
    font-size: clamp(2rem, 5vw, 3.5rem);
    text-align: center;
    color: #2b2b2b;
    transform: translate(-50%, -50%);
}

.txt-on-top h1{
    margin-bottom:0;
    animation: fadeInSlideUp 0.6s ease-out 0.2s backwards; /* animation prende il keyframe che abbiamo fatto, poi 0.2 di backwards unito a*/
    will-change: transform, opacity; /*Questa roba serve perché l'animazione laggava*/                     /* unito a quello della classe sotto per fare si che compaia prima la scritta e poi il logo*/
}
.logo-on-home{
    height: 25vw;
    margin-top: 0;
    animation: fadeInSlideUp 0.6s ease-out  0.4s backwards;
    will-change: transform, opacity;
}

/*CSS HOME*/

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}
.linkGroup{
    gap: 5vw;
    display: flex;
    margin: auto;
}

.btnGroup button{
    flex: 1;
    width: clamp(80px, 7vw, 120px);
    height: 2.5rem; /*Mi è stato inoltre detto che l'altezza di solito non viene settata con vw ma con rem */
    cursor: pointer;
    border-radius: clamp(5px, 0.5vw, 8px); /* Anche il radius può essere bloccato */
    padding: 0 1rem; 
    margin: 0.5vw;
    font-size: 0.9rem; 
}

.btnGroup button:hover{
    background-color: #cdcdcd;
}

.backgroundImg{
    height: 100vh;  
    width: 100%;    
    position: relative;
    background-image: url('resources/Sfondo.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    overflow: hidden;
}
/*Animazione che fa comparire con un effetto da sotto*/


.txtOnTop{
    position:absolute;
    width: 100%;  
    top: 45%;        
    left: 50%;
    font-size: clamp(2rem, 5vw, 3.5rem);
    text-align: center;
    color: #2b2b2b;
    transform: translate(-50%, -50%);
}

.txtOnTop h1{
    margin-bottom:0;
    animation: fadeInSlideUp 0.6s ease-out 0.2s backwards; /* animation prende il keyframe che abbiamo fatto, poi 0.2 di backwards unito a*/
    will-change: transform, opacity; /*Questa roba serve perché l'animazione laggava*/                     /* unito a quello della classe sotto per fare si che compaia prima la scritta e poi il logo*/
}
.logoBackGround{
    height: 25vw;
    margin-top: 0;
    animation: fadeInSlideUp 0.6s ease-out  0.4s backwards;
    will-change: transform, opacity;
}
/*CSS LOGIN comprende anche il body, prima cosa che c'è nel file*/
.formLogIn{
    margin-top: 4vw;
    margin-bottom: 4vw; /*Di base non servirebbe, ma la form di sign up è troppo lunga*/
    border: 2px solid #cdcdcd;
    height: auto; 
    padding: 2rem; 
    width: clamp(300px, 30vw, 450px);
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    border-radius: 2vw;
    align-items: center;
    /*Serve per fare bordo ed ombra della form*/
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Per Safari */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);

    border-radius: 2rem; 
}

.formLogIn img{
    height: clamp(80px, 10vw, 120px);
    padding-left: 0;
    padding-right: 0;
    object-fit: contain; /* Assicura che non si distorca */
}
.formLogIn img:hover{
    cursor:pointer;
}

.input-wrapper {
    position: relative;
    width: 90%;
    margin-top: 1rem;
}

.input-wrapper i {
    position: absolute;
    left: 15px; 
    top: 50%;
    transform: translate(-50%, -50%, 0); 
    color: #555; 
}


.inputUsername,
.inputPassword{
    border:2px solid #cdcdcd;
    border-radius: 0.5vw;
    height: 2.8rem; 
    margin-top: 1vw;
    padding: 0 1rem; 
    width: 100%; 
    box-sizing: border-box; 
    font-size: 1rem;
    padding-left: 45px; /* Abbastanza spazio per l'icona + margine */
    padding-right: 1rem;
}


.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #8a8a8a;
    width: 90%;
    margin-top: 1.5rem;
}

.separator hr {
    flex: 1;
    border: none;
    border-top: 1px solid #cdcdcd;
}

.separator span {
    padding: 0 1rem;
    font-size: 0.9rem;
}

/* Stile per il bottone Google */
.btnGoogle {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra il contenuto */
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 0.5vw;   
    margin-top: 1.5rem;
    padding: 0 1.5rem; 
    height: 2.8rem;
    width: 90%; /* Stessa larghezza degli input */
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnGoogle:hover {
    background-color: #f5f5f5;
}

.btnGoogle img {
    height: 1.5rem; /* Dimensione del logo */
    width: 1.5rem;
    margin-right: 0.75rem; /* Spazio tra logo e testo */
    padding-left: 0; 
    padding-right: 0;
}


.btnAccedi{
    background-color: #007bff;  
    color: white;
    font-weight: bold; 
    border:none; 
    border-radius: 0.5vw;   
    margin-top: 1.5rem; 
    padding: 0 2rem; 
    height: 2.8rem; 
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnAccedi:hover {
    background-color: #0056b3;
    transform: translateY(2px);
}


.signUpFormRedirect{
    display: flex;
    flex-direction: row;
    gap: 1rem; 
    align-items: center;
    margin-top:1.5rem;
    font-size: 0.9rem; 
    text-decoration: none;
}

.signUpFormRedirect a{
    text-decoration: none;
}

/*CSS SIGN UP*/
/* Forza coerenza con login */
.formLogIn input[type="text"],
.formLogIn input[type="email"],
.formLogIn input[type="password"] {
    width: 100%;
    height: 2.8rem;
    padding: 0 1rem 0 45px; /* icona + testo */
    box-sizing: border-box;
    font-size: 1rem;
    border: 2px solid #cdcdcd;
    border-radius: 0.5vw;
    margin-top: 1vw;
}
/*CSS card in about us*/
.card-container{
    justify-content: center;
    display: flex;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1rem 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    margin: 2vw;
    width: 20%;
    overflow: hidden;
    animation: fadeInSlideUp 0.6s ease-out 0.4s backwards; 
    will-change: transform, opacity; 
}
.card img{
    height: 10rem;
    object-fit: contain;
}
.card-img{
    width: 100%;
    
}
.card-body{
    border-top:1px solid black;
    height: 15rem;
}

.card:hover{
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
}
/*Sezioni in about us*/
.sezione-inizale-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
     
}

.sezione-iniziale{
    background: linear-gradient(rgba(0, 0, 0,0), #f0f0f3),url("resources/SfondoTagliato.jpg") center/cover no-repeat;
    min-height: 50vh;
    mask-image: linear-gradient(to bottom, black 83%, transparent 90%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fadeInSlideUp 0.6s ease-out 0.2s backwards; 
    will-change: transform, opacity;
}
.sezione-iniziale-text, .sezione-iniziale-title{
    color:#2b2b2b;
}
/*Seconda sezione*/
.sezione-mission{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 75%;
    margin-bottom: 1.5vw;
    background: linear-gradient(rgb(246, 246, 249), rgb(246, 246, 249));
    border:1px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

.mission-text{
    color: #2b2b2b;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.mission-text p{
    color: #555454;
}
.mission-objectives{
    margin-top: 3vw;
    display:flex;
    flex-direction: row;
}

.objective{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33%;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3vw;
}
.objective p{
    color: #555454;
}

.objective i{
    
  width: 5vw;  
  height: 5vw; 
  
  border-radius: 50%;       

  display: inline-flex;    
  justify-content: center;  
  align-items: center; 

  color: white;
  font-size: 24px;
}
/*Terza sezione*/
.contatti{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 75%;
}

.contatti-text{
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}
.contatti-buttons{
    margin-bottom: 3rem;
}
.contatti-buttons a{
    color:#2b2b2b;
    text-decoration: none;
    border: 2px solid black; 
    flex: 1;
    width: clamp(80px, 7vw, 120px);
    cursor: pointer;
    border-radius: clamp(5px, 0.5vw, 8px); 
    padding: 0.5rem;
    font-size: 1rem; 
}

.contatti-buttons a:hover{
    background-color: #cdcdcd;
}
/*CSS Mappa*/
.selezione-percorso{
    border-top: 0.1rem solid #2b2b2b;
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    
}

#mappa{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 10;
}

.percorso-form{
    display: flex;
    flex-direction: column;
    margin:1vw;
    z-index: 20;
    width:clamp(18vw, 300px, 21vw);
    border:1px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    overflow: hidden;
    background-color: #f0f0f3;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}
.percorso-input{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.percorso-input input{
    border:2px solid #cdcdcd;
    border-radius: 0.5vw;
    height: 2.8rem; 
    margin: 1vw;
    padding: 0 1rem; 
    box-sizing: border-box; 
    font-size: 1rem;
    padding-left: 45px; /* Abbastanza spazio per l'icona + margine */
    padding-right: 1rem;
}