*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-principale);
  height: 100%;
  background-color: var(--colore-grigio-nebbia);
  overscroll-behavior-y: none;
}

.hidden {
  display: none !important;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  display:none;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}