body {
  margin: 0;
  padding: 0;
  font-family: var(--font-principale);
  height: 100%;
  background-color: var(--colore-grigio-nebbia);
}

.hidden {
  display: none !important;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  display:none;
}