:root {
  /* Palette Principale */
  --colore-grigio-nebbia: #f0f0f3;
  --colore-grigio-caldo: #c9c1b9;
  --colore-taupe: #a89f97;
  --colore-azzurro-polvere: #b0c0cf;
  --colore-carbone: #4a4441;
  --colore-scuro: #2b2b2b;
  --colore-hover: #f5f5f5;

  /* Palette Contrastante */
  --colore-arancio-segnale: #ff5f1f;
  --colore-blu-elettrico: #007bff;
  --colore-blu-hover: #0056b3;
  --colore-verde-smeraldo: #00c753;
  --colore-bianco-ottico: #ffffff;
  --colore-nero-intenso: #111111;

  /* Font */
  --font-principale: "Roboto", Helvetica, sans-serif;

  /* Altri valori utili */
  --radius-piccolo: clamp(5px, 0.5vw, 8px);
  --radius-grande: 2rem;
  /* Z-index*/
  --z-back: -1;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
