.form-log-in {
  margin-top: 4vw;
  margin-bottom: 4vw; /*Di base non servirebbe, ma la form di sign up è troppo lunga*/
  height: auto;
  padding: 2rem;
  width: clamp(300px, 30vw, 450px);
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.form-input {
  border: 1px solid var(--colore-grigio-caldo);
  border-radius: var(--radius-piccolo);
  height: 2.8rem;
  padding: 0 1rem 0 45px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

.form-input.no-icon {
  padding-left: 1rem;
}

.form-log-in img {
  height: clamp(50px, 5vw, 80px);
  padding-left: 0;
  padding-right: 0;
  margin-bottom:1rem;
  object-fit: contain; /* Assicura che non si distorca */
}
.form-log-in img:hover {
  cursor: pointer;
}

.input-wrapper {
  position: relative;
  width: 90%;
  margin-top: 1rem;
}

.input-wrapper i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--colore-carbone);
  z-index: 10;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--colore-taupe);
  width: 90%;
  margin-top: 1.5rem;
}

.separator hr {
  flex: 1;
  border: none;
  border-top: 1px solid var(--colore-grigio-caldo);
}

.separator span {
  padding: 0 1rem;
  font-size: 0.9rem;
}

/* Stile per il bottone Google */
.btn-google {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra il contenuto */
  background-color: var(--colore-bianco-ottico);
  border: 1px solid var(--colore-grigio-caldo);
  border-radius: 0.5vw;
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  height: 2.8rem;
  width: 90%; /* Stessa larghezza degli input */
  font-size: 1rem;
  color: var(--colore-carbone);
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-google:hover {
  background-color: var(--colore-hover);
}

.btn-google img {
  height: 1.5rem; /* Dimensione del logo */
  width: 1.5rem;
  margin-right: 0.75rem; /* Spazio tra logo e testo */
  padding-left: 0;
  padding-right: 0;
}

.btn-accedi {
  background-color: var(--colore-blu-elettrico);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5vw;
  margin-top: 1.5rem;
  padding: 0 2rem;
  height: 2.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-accedi:hover {
  background-color: var(--colore-blu-hover);
  transform: translateY(2px);
}

.sign-up-redirect-form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  text-decoration: none;
}

.sign-up-redirect-form a {
  text-decoration: none;
}
