.background-img{
    height: 100vh;  
    width: 100%;    
    position: relative;
    background-image: url('../../resources/Sfondo.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    overflow: hidden;
}

.txt-on-top{
    position:absolute;
    width: 100%;  
    top: 45%;        
    left: 50%;
    font-size: clamp(2rem, 5vw, 3.5rem);
    text-align: center;
    color: #2b2b2b;
    transform: translate(-50%, -50%);
}

.txt-on-top h1{
    margin-bottom:0;
    animation: fadeInSlideUp 0.6s ease-out 0.2s backwards; /* animation prende il keyframe che abbiamo fatto, poi 0.2 di backwards unito a*/
    will-change: transform, opacity; /*Questa roba serve perché l'animazione laggava*/                     /* unito a quello della classe sotto per fare si che compaia prima la scritta e poi il logo*/
}
.logo-on-home{
    height: 25vw;
    margin-top: 0;
    animation: fadeInSlideUp 0.6s ease-out  0.4s backwards;
    will-change: transform, opacity;
}