.selezione-percorso{
    border-top: 0.1rem solid #2b2b2b;
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    
}

#mappa{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 10;
}

.percorso-form{
    display: flex;
    flex-direction: column;
    margin:1vw;
    z-index: 20;
    width:clamp(18vw, 300px, 21vw);
    border:1px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    overflow: hidden;
    background-color: #f0f0f3;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}
.percorso-input{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
